@model IEnumerable<ECommerceNET.Areas.Admin.Models.User_ThuongHieu>

@{
    ViewData["Title"] = "Delete";
    Layout = "_BackEndAdmin";
}
<div id="content-wrapper" class="d-flex flex-column" style="padding:20px">
    @foreach (var item in Model)
    {
       
        <h3>Bạn có chắc muốn xóa?</h3>
        <div>
            <h4>ThuongHieu</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Tên thương hiệu
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.tenThuongHieu)
                </dd>
                <dt class="col-sm-2">
                    Logo

                </dt>
                <dd class="col-sm-10">
                    <img src="~/images/logo/@Html.DisplayFor(modelItem => item.hinhLogo)" style="width:80px; height:80px" />
                </dd>
                <dt class="col-sm-2">
                    SĐT
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.sdtThuongHieu)
                </dd>
                <dt class="col-sm-2">
                    Email
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.emailThuongHieu)
                </dd>

                <dt class="col-sm-2">
                    Ngày tạo
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.ngayTao)
                </dd>
                <dt class="col-sm-2">
                    Cập nhật lần cuối
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.ngayCapNhat)
                </dd>
                <dt class="col-sm-2">
                    Họ tên người tạo
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.hoUser)  @Html.DisplayFor(modelItem => item.tenUser)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="@item.idThuongHieu" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    }
</div>