@model IEnumerable<ECommerceNET.Areas.Admin.Models.User_ThuongHieu>

@{
    ViewData["Title"] = "Index";
    Layout = "_BackEndAdmin";
}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">


    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" id="keyword" class="form-control bg-light border-0 small" placeholder="Tìm loại sản phẩm"
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <script>
                $(document).ready(function () {
                    $("#keyword").keyup(function () {
                        $.ajax({
                            url: "/Admin/Loais/TimAjax",
                            data: {
                                keyword: $("#keyword").val().trim(),
                            },
                            type: "POST",
                            success: function (data) {
                                $("#kqua").html(data);
                            }
                        });
                    });
                });
            </script>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">



                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.tenadmin</span>
                        <img class="img-profile rounded-circle"
                             src="~/startbootstrap-sb-admin-2-gh-pages/img/undraw_profile.svg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">


                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="outad" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <script>
            $(document).ready(function () {
                $("#outad").click(function () {
                    $.ajax({
                        url: "/Login/Logout",
                        type: "POST",
                        success: function () {
                            location.reload();
                        }
                    });
                });
            });

        </script>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <h1>Thương Hiệu</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tên thương hiệu
                        </th>
                        <th>
                            Logo
                        </th>
                        <th>
                            SĐT
                        </th>
                        <th>
                            Email
                        </th>

                        <th>
                            Ngày tạo
                        </th>
                        <th>
                            Cập nhật lần cuối
                        </th>
                        <th>
                            Người tạo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tenThuongHieu)
                            </td>
                            <td>
                                <img src="~/images/logo/@Html.DisplayFor(modelItem => item.hinhLogo)" style="width:80px; height:80px" />

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sdtThuongHieu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.emailThuongHieu)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ngayTao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ngayCapNhat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hoUser) @Html.DisplayFor(modelItem => item.tenUser)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.idThuongHieu">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.idThuongHieu">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.idThuongHieu">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.container-fluid -->

    </div>





</div>