@model ECommerceNET.Entities.LienHe

@{
    ViewData["Title"] = "Delete";
    Layout = "_BackEndAdmin";
}

<div id="content-wrapper" class="d-flex flex-column" style="padding:20px">

    <h3>Bạn có chắc muốn xóa?</h3>
    <div>
        <h4>LienHe</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Họ tên người gửi
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.hoTen)
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.eMail)
            </dd>
            <dt class="col-sm-2">
                Tiêu đề
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tieuDe)
            </dd>
            <dt class="col-sm-2">
                Nội dung
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.noiDung)
            </dd>
            <dt class="col-sm-2">
                Ngày gửi
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngayGui)
            </dd>
            <dt class="col-sm-2">
                Ngày cập nhật
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngayCapNhat)
            </dd>
            <dt class="col-sm-2">
                Trạng thái
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.trangThai)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="idLH" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
    </div>