
@{
    Layout = "_FrontEnd";
}
<div style="text-align:left; width:100%;padding:50px">
    <h2>@ViewBag.tieude</h2>
    <p>@ViewBag.noidung</p>
    <p>@ViewBag.cau1</p>
    <p>@ViewBag.cau2</p>
    <p>@ViewBag.cau3</p>
    <p>@ViewBag.cau4</p>
    <p>@ViewBag.cau5</p>
    <p>@ViewBag.cau6</p>
</div>
