@model ECommerceNET.Entities.User

@{
    ViewData["Title"] = "Delete";
    Layout = "_BackEndAdmin";
}
<div id="content-wrapper" class="d-flex flex-column" style="padding:20px">

    <h1>Xóa tài khoản</h1>

    <h3>Bạn có chắc muốn xóa tài khoản này?</h3>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                Ảnh đại diện
            </dt>
            <dd class="col-sm-10">
                <img src="~/images/user/@Html.DisplayFor(model => model.hinhAVT)" style="width:80px;height:80px " alt="@Html.DisplayFor(model =>model.hinhAVT)" />

            </dd>
            <dt class="col-sm-2">
                Họ
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.hoUser)
            </dd>
            <dt class="col-sm-2">
                Tên
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tenUser)
            </dd>
            <dt class="col-sm-2">
                Số điện thoại
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.sdtUser)
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.emailUser)
            </dd>


            <dt class="col-sm-2">
                Ngày sinh
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngaySinh)
            </dd>
            <dt class="col-sm-2">
                Địa chỉ
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.diaChi)
            </dd>

            <dt class="col-sm-2">
                Ngày tạo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngayTao)
            </dd>
            <dt class="col-sm-2">
                Cập nhật lần cuối
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ngayCapNhat)
            </dd>
            <dt class="col-sm-2">
                Hoạt động lần cuối
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.hoatDongLanCuoi)
            </dd>
            <dt class="col-sm-2">
                Trạng thái
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.trangThai)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="idUser" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>