@model IEnumerable<ECommerceNET.Entities.SanPham>

@{
    ViewData["Title"] = ViewBag.title;
    Layout = "_FrontEnd";
}
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


@foreach (var item in Model)
{
    <form asp-action="addtocart" asp-controller="GioHang" asp-route-id="@item.idSP">
        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail-top">
                            <div class="row align-items-center" itemscope itemtype="https://schema.org/Product">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">
                                        <img itemprop="image" src="~/images/sanpham/@Html.DisplayFor(modelItem => item.hinhAnh)" alt="Product Image">

                                    </div>

                                </div>
                                <div class="col-md-7">
                                    <div class="product-content" >
                                        <h1></h1>
                                        <div itemprop="name" class="title"><h2> @Html.DisplayFor(modelItem => item.tenSP)</h2></div>

                                        <div class="price">
                                            <h4>Giá:</h4>
                                            <p> @Html.DisplayFor(modelItem => item.giaSP) đ</p>
                                        </div>
                                        <!-- Your share button code -->
                                        <div class="fb-share-button"
                                             data-href="@ViewBag.url"
                                             data-layout="button_count" style="margin-bottom:20px">
                                        </div>
                                        <div class="quantity">
                                            <h4>Số lượng:</h4>
                                            <div class="qty">
                                                <button type="button" id="btntru" class="btn-minus"><i class="fa fa-minus"></i></button>
                                                <input type="text" id="slx" name="sl" value="1">
                                                <button type="button" id="btncong" class="btn-plus"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>


                                        <div class="action">
                                            <a data-id="@item.idSP" class="btn ajax-add-cart" href="#"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                            <button type="submit" class="btn" href="#"><i class="fa fa-shopping-bag"></i>Mua ngay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <h3><a class="nav-link active" data-toggle="pill" href="#description">Mô tả</a></h3>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="description" itemprop="description" class="container tab-pane active">

                                        <p style="text-align:justify">
                                            @Html.DisplayFor(modelItem => item.moTa)
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <!-- Product Detail End -->
    </form>

}
